@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('/static/moroccan-flower-dark.png');
}

code {
    background-color: lightgrey;
    padding: 0.1rem 0.2rem;
    border: 1px dashed black;
}

#content {
  width: 80vw;
  margin: auto;
  background-color: white;
  padding: 1rem;
  box-shadow: black;
}

#header {
  display: flex;
  border-bottom: solid 5px;
  width: 100%;
}

#header h1 {
  font-family: 'Courgette', cursive;
  line-height: 1.8rem;
  margin-top: 0.25rem;
  padding: 1rem;
}

#user-information {
  display: block;
  height: auto;
  text-align: right;
  flex-grow: 2;
  padding-right: 1rem;
}

#user-information h2 {
  font-family: 'Courgette', cursive;
  margin-bottom: 0.25rem;
}

#commissions {
  width: 100%;
  display: grid;
  grid-template-columns: 9em auto 1fr;
}

#my_commissions, #other_commissions, #finished_commissions, .commission_container {
    grid-column: 1 / span 3;
}

.commission_header {
    grid-column: 1 / span 2;
}

.commission_stats {
    grid-column: 3 / span 1;
    display: flex;
}

.commission_buttons {
    grid-column: 1 / span 1;
}

.commission_description {
    grid-column: 2 / span 2;
}

.commission_description_span_all {
    grid-column: 1 / span 3;
}

.show_hide_commissions_checkbox {
    margin: auto;
}

.user_meta_header {
    cursor: help;
    padding: 5px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

.queue_hidden {
    color: gray;
}

.queue_closed {
    text-decoration: line-through;
}

details {
  padding: 5px;
  border: 2px solid black;
}

summary {
  padding: 5px;
  margin: -5px;
  cursor: pointer;
}

.accepted, .claimed {
    background-color: #F4900C;
}

.not_accepted {
    background-color: #FFC0CB;
}

.claimable {
    background-color: #55ACEE;
}

.exclusive {
    background-color: #AA8ED6;
}

.invoiced, .new {
    background-color: #FDCB58;
}

.paid {
    background-color: #78B159;
}

.finished_not_emailed {
    background-color: #FF0000;
}

.finished {
    background-color: #E6E7E8;
}

#refresh_button, #force_update_button {
  font-size: 1rem;
}

.action_button {
  font-size: 1.2rem;
  width: 2.5rem;
  cursor: pointer;
}

.disabled_button {
    filter: grayscale(100%);
    cursor: default;
}

.admin_checkbox {
    margin: auto;
    width: 100%;
}

#add_new_user_section {
    border: black solid 2px;
    border-radius: 10px;
    width: 20em;
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
}

#websocket_error_overlay {
    color: black;
    font-size: 200%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border: 3px solid red;
    box-shadow: 10px 10px 0 red;
}

#top_error_overlay {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
}

.top_error_message {
    margin-bottom: 0.5rem;
    background-color: red;
    border: 2px solid black;
    width: fit-content;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.top_error_close {
    cursor: pointer;
}

#redirect_to_main_container {
    margin: 2rem;
    border: black solid 2px;
    border-radius: 5px;
    background-color: white;
    padding: 0 1rem;
}

.upload_preview {
    max-height: 200px;
    max-width: 200px;
}